



<h3>Main</h3>
{{#each category as |category| }}
 <div>
  
    <h3 id="item-title">{{ category.category_name }}</h3>
    <h3 id="item-title">{{ items.[0].item_name }}</h3>
    <h3 id="item-title">{{ items.[0].price }}</h3>
    <h3 id="item-title">{{ items.length }}</h3>
{{/each}}



<section>
{{#each category.items as |item| }}
    <div id="container" class="row">
        <div id="menu-box" class="col-5">
            <div>
                <h3 id="item-title">{{ item.item_name }}</h3>
                <p id="item-price"> $ {{ item.price }}</p>
            </div>
        </div> 
  </div>

{{/each}}
</section>
