{{> header}}

<div id="container" class="row">
<div id="container box" class="row w-75 h-50 position-absolute top-50 start-50 translate-middle bg-light ">
       <div class="d-flex p-2 align-items-center justify-content-center">
            <h3 class="text-black text-center">Order Confirmation</h3>
        </div>
    <div class="col-8 d-flex justify-content-center">
        <div class="d-flex p-2 w-75 h-75 align-items-center justify-content-center bg-secondary" id="payment">
            <h4 class="text-white text-center">Order for {{cart.user.email}}</h4>
        </div>
    </div>
        <div class="col-4 mx-auto justify-content-center">
            <ul class="list-group">    
            <li class="list-group-item text-center">Order #{{cart.id}}</li>
                {{#each cart.items as |item|}}
                <li class="list-group-item">
                    <div class="row align-items-start">
                        <p class="col text-end">Item:</p>
                        <p class="col text-start">{{item.item_name}}</p>
                        <p class="col text-end">${{item.price}}</p>
                    </div>
                </li>
                {{/each}}
                <li class="list-group-item">
                    <div class="row align-items-start">
                        <p class="col-8  text-end">Subtotal:</p>
                        <p class="col text-end">${{getSum cart.items}}</p>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row align-items-start">
                        <p class="col-8  text-end">Tax:</p> 
                        <p class="col text-end">${{getTax cart.items}}</p>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row align-items-start">
                        <p class="col-8  text-end">Total:</p> 
                        <p class="col text-end">${{getTotal cart.items}}</p>
                    </div>
                </li>
            </ul>
        </div>
</div>
</div>

<script src="./js/checkout.js"></script>
<script src="https://js.stripe.com/v3/"></script>