    
{{> header}}




<div id="menuboxes" class="row">
    <div id="tea" class="col-3">
        {{#each tea.items as |item|}}
        <div>
        {{!-- <h3 id="item-title">{{ category.category_name }}</h3> --}}
        <p id="item-title">{{ item_name }}</p>
        <p id="item-price">{{ price }}</p>
        </div>
        {{/each}}
    </div>

    <div id="food" class="col-3">
        {{#each cold.items as |item|}}
        <div>
        {{!-- <h3 id="item-title">{{ category.category_name }}</h3> --}}
        <p id="item-title">{{ item_name }}</p>
        <p id="item-price">{{ price }}</p>
        </div>
        {{/each}}
    </div>


</div>





{{!-- {{#each items as |item| }}
    <section id="container" class="row">
        <div id="menu-box" class="col-5">
            <div>
                {{!-- <button id="item-title">{{ item.item_name }}</button> --}}
                {{!-- <h3 id="item-title">{{ item.item_name }}</h3>

            </div>
            <div>   
                <p>{{ item.item_description }}</p>
                <p> {{ item.price }}</p>
            </div>
                
            <div>
                
            </div>
        </div> 
    </section>

{{/each}} --}}
