    
{{> header}}

<div id="menuboxes" class="row">
    <div id="tea" class="col-3">
        {{#each tea.items as |item|}}
        <div>
        {{!-- <h3 id="item-title">{{ category.category_name }}</h3> --}}
        <p id="item-title">{{ item_name }}</p>
        <p id="item-price">{{ price }}</p>
        </div>
        {{/each}}
         <button id="viewteabtn"><a href="/menu/tea">View Details</a>  </button>
    </div>

    <div id="food" class="col-3">
        {{#each cold.items as |item|}}
        <div>
        {{!-- <h3 id="item-title">{{ category.category_name }}</h3> --}}
        <p id="item-title">{{ item_name }}</p>
        <p id="item-price">{{ price }}</p>
        </div>
        {{/each}}
         <button id="viewcoldbtn"> <a href="/menu/cold">View Details</a> </button>
    </div>

    <div id="coffee" class="col-3">
        {{#each coffee.items as |item|}}
        <div>
        {{!-- <h3 id="item-title">{{ category.category_name }}</h3> --}}
        <p id="item-title">{{ item_name }}</p>
        <p id="item-price">{{ price }}</p>
        </div>
        {{/each}}
         <button id="viewcoffeebtn"> <a href="/menu/coffee">View Details</a> </button>
    </div>

     <div id="food" class="col-3">
        {{#each food.items as |item|}}
        <div>
        {{!-- <h3 id="item-title">{{ category.category_name }}</h3> --}}
        <p id="item-title">{{ item_name }}</p>
        <p id="item-price">{{ price }}</p>
        </div>
        {{/each}}
         <button id="viewfoodbtn"> <a href="/menu/food">View Details</a> </button>
    </div>
</div>





