{{> header}}


<div id="contorder" class="col-5 mx-auto justify-content-center d-grid gap-3 gap-3">
        {{#each category.items as |item|}}
<<<<<<< HEAD
        <div id="ordertea">
                <p id="item-title">{{ item_name }}</p>
                <p id="item-description">{{ item_description }}</p>
                <p id="item-price"> $ {{ price }}</p>
                <button class="addtocart"> Add to Cart </button>
=======
        <div id="orderitem">
        {{!-- <h3 id="item-title">{{ category.category_name }}</h3> --}}
        <p id="item-title">{{ item_name }}</p>
        <p id="item-description">{{ item_description }}</p>
        <p id="item-price"> $ {{ price }}</p>
        <button class="addtocart"> Add to Cart </button>
>>>>>>> f0d48f2ddab152be226124c612b56aab614572c7
        </div>
        {{/each}}
         
</div>

