



<div id="tea" class="col-3">
        {{#each tea.items as |item|}}
        <div>
        {{!-- <h3 id="item-title">{{ category.category_name }}</h3> --}}
        <p id="item-title">{{ item_name }}</p>
        <p id="item-description">{{ item_description }}</p>
        <p id="item-price">{{ price }}</p>
        </div>
        {{/each}}
         <button class="addtocart"> Add to Cart </button>
</div>


<div id="tea" class="col-3">
        {{#each tea.items as |item|}}
        <div>
        {{!-- <h3 id="item-title">{{ category.category_name }}</h3> --}}
        <p id="item-title">{{ item_name }}</p>
        <p id="item-description">{{ item_description }}</p>
        <p id="item-price">{{ price }}</p>
        </div>
        {{/each}}
         <button class="addtocart"> Add to Cart </button>
    </div>




<script src="./js/viewdetails.js"></script>
