<header>
    Order{{id}}
</header>

<aside>
    <p>Order for: </p>
    <p>User email: {{email}}</p>
    <br>
    <p>Payment Info: </p>
    <br>
    <p></p>
</aside>

{{#each items as |order.item| }}
<section class="item">
    <h3>{{ item_name }}</h3>
    <p> {{ price }} </p>
</section>
{{/each}}

<section>
    <p>Subtotal {{totalCost}}</p>
    <p>Tax {{(totalCost/100)}}</p>
    <p>Total {{(totalCost/100)+totalCost}}</p>